# Node y dependencias
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Producción / build
/build
/.next
/out

# Variables de entorno (no subas ninguna)
/.env
.env.local
.env.development.local
.env.test.local
.env.production

# Archivos de sistema y herramientas de desarrollo
.DS_Store
.eslintcache
.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
